*{
    font-family: 'Spartan', sans-serif;

}
body,
.bg-img{
    width: 100%;
    height: 100%;
}
  /* ==============
      ##background image
     ============== */

 body{
    background: url(./images/bg-pattern-top-mobile.svg)  no-repeat;
    position: absolute;
    padding: 0;
    margin: 0;

 }
 .bg-img{
    background: url(./images/bg-pattern-bottom-mobile.svg) 100% 100% no-repeat;
    position: absolute;
    bottom: 0;
    right:0;
    
}




.main{
    padding: 6vh;
    margin:auto;
}
.container{
    display: grid;
    grid-template-rows: auto auto;
    color:hsl(300, 24%, 96%);
    text-align: center;
    padding-bottom: 15%;
}
.bio{
    font-size:1.5rem;
    padding-bottom: 5%;
}
.header{
    color: hsl(300, 43%, 22%);
    font-size:4rem; 
    font-weight: 700;
    padding-bottom:0.5em ;
}
.text{
    color:hsl(303, 10%, 53%);
  }      
  
  div[class*=rating-] {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 1.5vh;
      color: #f5bb1dea;
      font-size:2.5rem;
      }
      .rating>div{
          border-radius: 0.5rem;
          padding:2vw;
          background: hsl(300, 24%, 96%);
          margin: 2vh 0;
      }
      span{                /* rating text */
      color: hsl(300, 43%, 22%);
      font-size:1.7rem;
      font-weight: 600;
      }
        /* ==============
      ##comment
     ============== */
      .comment{
        display: grid;
        grid-template-rows:auto auto auto;
        color:hsl(300, 1%, 85%);
        grid-row-gap: 3vh;
        padding-bottom:10vh;
        }
    .name,
    .status{
        position: relative;
        top:-5vh;
       
    }
    .name{
        color:rgb(243, 231, 231);
        font-size:2rem;
        left: 2rem;
        }
    
    .status{
        left: 8rem;
        font-size:1.5rem;
        color:hsl(331, 38%, 42%);
    }

    img{
        border-radius: 50%;
    }
    div[class^=comment-]{
        padding:5vw;
        background: hsl(300, 43%, 22%);
        font-size:1.4rem;
        font-weight: 400;
        border-radius: 1em;
        height: 20rem;
    }
     @media screen and (max-width:500px) {
        
        .bio{
            font-size:4.3vw;
          }
    .header{
        font-size:10vw;
    }
    div[class*=rating-] {
        font-size:2rem;
    }
    span{
        font-size:4.3vw;
    }
    .name{
        font-size:4.3vw;
        left: 1.3rem;
    }
    .status{
        font-size:4vw;
        left: 6.2rem;
    }
    div[class^=comment-]{
        font-size:4vw;
        height: 65vw;
    }
    } 
